@model WebProjekat.Models.FitnesCentar

@{ ViewBag.Title = "Izmeni fitnes centar";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<h1>@ViewBag.Message</h1>
<form class="col-lg-6" action="/Vlasnik/IzmeniFitnesCentar/" method="post">

    <div class="form-group">
        <label>ID fitnes centra</label>
        <input class="form-control" type="text" name="IDCentra" value="@Model.IDCentra" readonly />
    </div>

    <div class="form-group">
        <label for="Naziv">Naziv fitnes centra:</label>
        <input class="form-control" type="text" name="Naziv" value="@Model.Naziv" required />
    </div>

    @*<div class="form-group">
        <label for="Adresa">Adresa: </label>
        <input class="form-control" type="text" name="@Model.AdresaFitnesCentra.Ulica" placeholder="Ulica" required />
        <input class="form-control" type="number" name="@Broj" placeholder="Broj" required />
        <input class="form-control" type="text" name="Mesto" placeholder="Mesto" required />
        <input class="form-control" type="number" name="PostanskiBroj" placeholder="Postanski broj" required />
    </div>*@

    <div class="form-group">
        <label for="Adresa">Adresa: </label>
        <input class="form-control" type="text" name="AdresaFitnesCentra" value="@Model.AdresaFitnesCentra" required />
    </div>

    <div class="form-group">
        <label for="GodinaOtvaranja">Godina otvaranja:</label>
        <input class="form-control" type="number" name="GodinaOtvaranja" value="@Model.GodinaOtvaranja" required />
    </div>

    <div class="form-group">
        <label for="MesecnaClanarina">Mesecna clanarina: </label>
        <input class="form-control" type="number" name="MesecnaClanarina" value="@Model.MesecnaClanarina" required />
    </div>

    <div class="form-group">
        <label for="GClanarina">Godisnja clanarina:</label>
        <input class="form-control" type="number" name="GodisnjaClanarina" value="@Model.MesecnaClanarina" required />
    </div>

    <div class="form-group">
        <label for="JedanTrening">Cena jednog treninga: </label>
        <input class="form-control" type="number" name="CenaJednogTreninga" value="@Model.CenaJednogTreninga" required />
    </div>

    <div class="form-group">
        <label for="GrupniTrening">Cena grupnog treninga:</label>
        <input class="form-control" type="number" name="CenaGrupnogTreninga" value="@Model.CenaGrupnogTreninga" required />
    </div>

    <div class="form-group">
        <label for="JedanTreningPersonalniTrener">Cena treninga sa personalnim trenerom:</label>
        <input class="form-control" type="number" name="CenaJednogTreningaSaPersonalnimTrenerom" value="@Model.CenaJednogTreningaSaPersonalnimTrenerom" required />
    </div>

    <input class="form-control" type="submit" name="IzmeniFitnesCentar" value="Izmeni fitnes centar" />

</form>